header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #35424a;
  border-bottom: 2px solid #9b4039;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
  color: #9b4039;
}

.current > a {
  color: #9b4039;
}

li {
  list-style: none;
  display: inline;
  float: right;
}

ul {
  position: absolute;
  right: 0;
  display: flex;
  margin-top: 30px;
}

a {
  font-size: 20px;
  display: flex;
  color: white;
  width: 80px;
  text-decoration: none;
}

h1 {
  color: white;
  float: left;
  margin-left: 40px;
}

#showcase {
  position: absolute;
  background-image: url('../img/gigi-logo.png');
  height: 500px;
  width: 100%;
  left: 0;
  margin-top: 73px;
  filter: grayscale(100%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#showcase > .container {
  position: absolute;
  width: 100%;
  background: rgb(0, 0, 0, 0.5);
  height: 500px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
}

#showcase > .container > h1 {
  font-size: 40px;
  position: absolute;
  margin-top: -100px;
}

#showcase > .container > p {
  width: 90%;
  font-size: 18px;
}

#newsletter {
  background-color: #35424a;
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 573px;
  height: 120px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#newsletter > .container > h1 {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 40px;
}

#newsletter > .container > form {
  float: right;
  position: relative;
  margin-left: 650px;
}

input {
  height: 40px;
  width: 200px;
}

.button_1 {
  color: white;
  background-color: #e84a1d;
  border: 0px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

#boxes > .container {
  display: flex;
  position: absolute;
  margin-top: 750px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  position: absolute;
  background-color: #e84a1d;
  margin-top: 1100px;
  width: 100%;
  text-align: center;
  color: white;
  left: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
